{% extends "base.html" %}
{% block content %}
<h2>{{ article.title }}</h2>

  {% if article.image %}
      <a href="{{ article.image.url }}"><img class="img-thumbnail" src="{{ article.image.url }}" alt=""></a>
  {% endif %}

<p>{{ article.text }}</p>

<p>
    {% for tag in article.tags.all %}
        <a href="{% url 'blog_article_view_from_tag' tag_id=tag.id %}">#{{ tag.name }}</a>&nbsp;
    {% endfor %}
</p>

<p style="text-align: right">
    Дата: <b>{{ article.publish_date }}</b>
    Категория: <b>{{ category.name }}</b>
</p>
{% endblock %}